/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
html {
  height: 100%;
}

body{
	background-color:#eeeeee;
	margin: 0;
	height: 100%
}
#background{
	position: inherit;
    top: 0px;
    bottom: 0px;
    height: 100%
    /* margin: 99px 0 0 0; */
}
.page{
	margin: 0 0 0 30px;
    //overflow: auto;
    position: inherit;
    height: 100%;
}
.abs-img{
	height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 280px;
    z-index: -1;
}
.abs2-img{
	height: 250px;
	width: 300px;
    position: absolute;
    right: 0px;
    z-index: -1;
    //margin: 0 0 0 53%;
}
.abs3-img{
	height: 120px;
    width: 500px;
    position: absolute;
    bottom: 0px;
    left: 250px;
    z-index: -1;
    //margin: 778px 0 0 240px;
}
.abs4-img{
	height: 120px;
    width: 700px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    //margin: 778px 0 0 790px;
}

/* Paragraph link color */
	
/*------------------------- Sidebar ------------------------*/ 
.sidebar{
	float: left;
    //margin: 0 9px 0 0;
    //_margin: 0 3px 0 0;
    width: 200px;
    height: 100%
}
.sidebar .featured{
	width: 218px;
	overflow: hidden;
	margin : 0 0 0 3px;
}
.sidebar .featured h3{
	color: #5B5A62;
    font-family: arial;
    font-size: 14px;
    margin: 55px 0 0;
    text-transform: uppercase;
}
.sidebar .featured a.figure{
	margin: 0 0 0 0px;
	display: block;
	background: none;
	position: static;
	text-indent: 0;
	height: auto;
	width: auto;
}
.sidebar .featured a.figure img{
	border: 2px solid gold;
	border-radius: 50%;
	max-width: 100%;
    max-height: 100%;
    height: 150px;
    width: 150px;
    margin: 40px 0 0 30px;
}
.sidebar .featured a{
	background: url(../images/icons.gif) no-repeat 0 -121px;
	left: 182px;
    position: absolute;
    text-indent: -99999px;
    top: 83px;
    width: 24px;
	height: 24px;
}
.sidebar .featured span{
	color: #939598;
    float: left;
    font-family: arial;
    font-size: 12px;
}
.sidebar .featured a.comments{
	background: url(../images/icons.gif) no-repeat 1px 1px;
    color: #FFFFFF;
    float: right;
    font-family: arial;
    font-size: 12px;
    height: 18px;
    padding: 0 20px 0 0;
    position: static;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    width: 19px;
}
.sidebar .featured span font{
	color: #5a5a6b;
	font-size: 13px;
}
.sidebar .featured h3.tweets{
	background: url(../images/icons.gif) no-repeat 1px -38px;
    color: #FFFFFF;
    float: right;
    font-family: arial;
    font-size: 11px;
    height: 18px;
    margin: 0 20px 0 0;
    position: static;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    width: 20px;
}
.sidebar div#tweets{
	clear: both;
	margin: 30px 0 0 20px;
}
.sidebar div#tweets h3{
	text-align: center;
	height: 20px;
	font-family: arial;
	font-size: 20 px;
	color: gold;
	text-decoration: none;
	display: block;
	//padding: 0 50px 0 0;
	line-height: 21px;
	//width: 40px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.sidebar div#tweets p{
	//background: url(../images/interface.gif) no-repeat;
	font-family: arial;
    font-size: 14px;
    height: 90px;
    //line-height: 21px;
    //margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    //width: 180px;
	color: #ffffff;
	font-weight: bold;
}
.sidebar div#tweets p a{
	background: none;
    display: inline;
    font-weight: bold;
    height: auto;
    line-height: 0;
    padding: 0;
    width: auto;
	text-transform: none;
	text-decoration: none;
	color: #5A5A6B;
}
.sidebar div#article{
	margin: 10px 0 0 23px;
}
.sidebar div#article h3{
	//background: url(../images/icons.gif) no-repeat 100px -35px;
	text-align: center;
	height: 20px;
	font-family: arial;
	font-size: 20px;
	color: gold;
	text-decoration: none;
	display: block;
	padding: 0 0 0 0;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0 10px 0;
}

.sidebar div#article p{
	font-family: arial;
    font-size: 14px;
    height: 90px;
    padding: 10px 0 0 0px;
    text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.sidebar div#article p a{
	color: #ffffff;
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    height: 90px;
    text-align: left;
    font-weight: bold;
}

.sidebar div#article ul li p{
	font-family: arial;
    font-size: 14px;
    line-height: 25px;
	margin: 0 0 5px;
	color: #5a5a6b;
	padding: 0;
	width: auto;
}
.sidebar div#article ul li span{
	color: #838383;
	font-family: arial;
	font-size: 14px;
}
.sidebar div#article ul li span a{
	color: #838383;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	background: none;
	display: inline;
	width: auto;
	height: auto;
}
.sidebar div#article ul li span a:hover{
	color: #5c596c;
}
.sidebar div#article ul li a{
	color: #fff;
	font-family: arial;
	text-decoration: none;
	font-size: 14px;
	background: url(../images/icons.gif) no-repeat 0 1px;
	width: 19px;
	height: 18px;
	display: inline-block;
	text-align: center;
}
.sidebar div#connect{
	height: auto;
	width: auto;
	margin: 40px 0 0;
}
.sidebar div#connect h2{
	color: #3d8bf6;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    text-transform: uppercase;
	border-width: 1px;
	border-style: none none solid none;
	border-color: #dedede;
	margin: 0 0 7px;
}
.sidebar div#connect a.facebook{
	background: url(../images/icons.gif) no-repeat 0 -76px;
	display: inline-block;
    float: left;
    height: 25px;
    width: auto;
	color: #3d8bf6;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	line-height: 25px;
    padding: 0 0 0 30px;
	margin: 0 10px 0 0;
	font-weight: bold;
}
.sidebar div#connect a.twitter{
	background: url(../images/icons.gif) no-repeat 0 -387px;
	display: inline-block;
    float: left;
    height: 25px;
    width: auto;
	color: #3d8bf6;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	line-height: 25px;
	padding: 0 0 0 40px;
	font-weight: bold;
}
.sidebar div#connect form{
	margin: 43px 0 0;
	overflow: hidden;
}
.sidebar div#connect form input{
	float: left;
	background: url(../images/interface.gif) no-repeat 0 -274px;
	border: 0;
	width: 160px;
	padding: 5px;
	color: #5A5A6B;
}
.sidebar div#connect form input.submit{
	background: url(../images/interface.gif) no-repeat 0 -140px;
	width: 24px;
	height: 26px;
	cursor: pointer;
}
.sidebar p{
	color: #1d1c1d;
	font-size: 12px;
	font-family: arial;
	padding: 80px 0 236px;
	margin: 0;
	text-align: center;
}

/*------------------------- Body ------------------------*/
.body{
    float: left;
    margin: 0 50px 0 340px;
    right: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
    //overflow: auto;
}
.body img
{
    max-width: 150px;
    max-height: 150px;
    //margin-left: 19%;
}

.body ul#navigation{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 18px 0 0;
	overflow: hidden;
	float: left;
}
.body ul#navigation li{
	float: left;
	margin: 0 18px 0 0;
	height: 25px;
}
.body ul#navigation li a:hover{
	color: #5B5A62;
}
.body ul#navigation li a{
	font-family: arial;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: block;
	_display: inline-block;
	padding: 0 10px 0 7px;
	height: 25px;
	line-height: 24px;
	margin: 0 0 0 3px;
}
.body ul#navigation li.selected{
	background: url(../images/navigation.gif) no-repeat left 0;
}
.body ul#navigation li.selected a{
	background: url(../images/navigation.gif) no-repeat right -25px;
	margin: 0 0 0 3px;
}

.dropdown-content {
	height: 220px;
   	overflow: auto;
    display: none;
    position: absolute;
    background-color: #b10d0f;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
	height: auto;}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.body form1#search input{
	background: url(../images/interface.gif) no-repeat 0 -230px;
	border: 0;
	padding: 4px 5px 6px;
	color: #5A5A6B;
	float: left;
	width: 110px;
	margin: 0;
}
.body form1#search input#submit{
	color: #7d7d7d;
	font-family: arial;
	font-size: 14px;
	font-style: italic;
	padding: 0;
	height: 24px;
	margin: 0;
	cursor: pointer; 
	width: 55px;
	background: url(../images/interface.gif) no-repeat 0 -186px;
}


.body h1{
	font-family: helvetica, arial;
	color: #4a14f8;
	font-size: 28px;
	clear: both;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0 0;
	text-align: center;
}
.body h1 a{
	text-decoration: none;
	
}
.body h6 {
    font-family: helvetica, arial;
    color: black;
    font-size: 12px;
    clear: both;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.body h2 {
    font-family: helvetica, arial;
    color: black;
    font-size: 18px;
    clear: both;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}
.body h2#check{
	text-align: center;
}
.body h2 a{
	color: #4a14f8;
	color: orangered;
	text-decoration: none;
	
}

.body ul.navigation{
	//height: 45px;
    list-style: none;
    margin: 40px 0 30px 0;
    background-color: #ffffff;
    text-align: justify;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    overflow: auto;

}	
.body ul.navigation li{
	//	border-width: 1px;
	//	border-style: solid none;
	//  border-color: #373646;
	float: left;
	height: 50px;
	text-align: center;
	margin: 0 ;
	//padding: 0 40px 0 39px;
}
.body ul.navigation li.selected{
	float: left;
	height: 58px;
	text-align: center;
	background-color: #20202c;
}
.body ul.navigation li a{
	//	border-width: 1px;
	//	border-style: solid none;
	border-color: #1d1e20;
	color: #000000;
    display: block;
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 22px 6px 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 
}	
.body ul.navigation li a:hover{
	color: #ff6000;
}
.body div#featured{
	height: auto;
	_height: 1%;`
	overflow: hidden;
	width: auto;
	_width: 715px;
	//background: url(../images/bg-label.gif) no-repeat top left;
	//margin: 45px 0 0 -109px;
}

.body div#featured div{
	float: left;
	width: 100%;
	//_width: 600px;
	//margin: 0 0 0 38px;
	//padding: 0 0 17px;
}
.body div#featured div img{
	float: left;
	margin: 0 20px 0 0;
	border: 1px solid #1e1e2a;
}
.body div#featured div h3{
	color: #cf1315;
    float: left;
    font-family: calibri;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px 0;
    text-align: left;
    width: 100%;
    font-weight: 100;
}
.body div#featured div h3 a{
	color: #131ccf;
	text-decoration: none;
}
.body div#featured div h3 p{
	color: #000000;
    float: left;
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0 0 ;
    text-align: justify;
    width: 100%;
}
.body div#featured div h4{
	color: #cf1315;
    float: left;
    font-family: calibri;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.body div#featured div h4 a{
	color: #131ccf;
	text-decoration: none;
	text-align: center;
}

.body div#featured div h4 p{
	color: #000000;
	font-weight: bold;
    float: left;
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0 0 ;
    text-align: center;
    width: 100%;
}

.body div#featured div h5{
	color: #b10d0f;
    float: left;
    font-family: calibri;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px 0;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
//.body div#featured div h6{
	color: darkred;
    font-family: arial;
    font-size: 160px;
    line-height: 200px;
    margin: 0 0 20px 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.body div#featured div span{
	color: #074679;
	font-family: arial;
	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}
.body div#featured div.stats{
	float: none;
    margin: 0 0 0 109px;
    width: auto;
	padding: 15px 0 0 0;
	*padding: 8px 0 0 0;
	background: url(../images/border.gif) repeat-x left top;
	clear: both;
	overflow: hidden;
}
.body div#featured div.stats a.time:hover,.body div#featured div.stats a.twitter:hover,.body div#featured div.stats a.facebook:hover{
	color: #868593;
}
.body div#featured div.stats a.time{
	color: #444450;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	margin: 0 225px 0 0;
	float: left;
}
.body div#featured div.stats span{
	color: #444450;
    font-weight: normal;
    text-shadow: none;
	margin: 0 5px 0 0;
	float: left;
}
.body div#featured div.stats a.comments{
	color: #a6a7ab;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	background: url(../images/icons.gif) no-repeat 0 -480px;
	width: 25px;
	height: 25px;
	display: block;
	text-align: center;
	margin: 0 20px 0 0;
	float: left;
}
.body div#featured div.stats a.twitter{
	background: url(../images/icons.gif) no-repeat 0 -302px;
	height: 25px;
	width: auto;
	color: #444450;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 30px;
	margin: 0 13px 0 0;
}
.body div#featured div.stats a.facebook{
	background: url(../images/icons.gif) no-repeat 0 -165px;
	height: 25px;
	width: 18px;
	color: #444450;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 30px;
}
.body div.article{
	background: url(../images/bg-label.gif) no-repeat scroll left top transparent;
    height: auto;
    margin: 45px 0 0 -109px;
    overflow: hidden;
	_height: 1%;
	_width: 715px;
}
.body div.article div{
	float: left;
}
.body div.article div#news{
	height: 190px;
    margin: 0 0 0 35px;
    padding: 20px;
    width: 562px;
	background-color: #fff;
	border-radius: 5px;
}
.body div.article div#news div.first{
	width: 265px;
	height: 210px;
	border: 0;
	margin: 0 10px 0 0 !important;
	padding: 0;
}
.body div.article div#news div{
	float: left;
	font-family: arial;
	border-width: 1px;
	border-style: none none none solid;
	border-color: #616161;
	width: 270px;
	padding: 0 0 0 15px;
	height: 190px;
}
.body div.article div#news div h3{
	color: #262834;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 14px 0;
}
.body div.article div#news div h3 a{
	color: #262834;
}
.body div.article div#news div a img{
	float: left;
	margin: 0 15px 0 0;
}
.body div.article div#news div a img{
	border: 0;
}
.body div.article div#news div a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body div.article div#news div.first p{
	width: 115px;
}
.body div.article div#news div p{
	float: left;
    font-size: 14px;
    line-height: 23px;
    margin: 0;
    text-align: left;
    width: 110px;
	color: #616161;
}
.body div.article div.odd{
	margin: 0 0 0 109px;
	height: 140px;
	width: 590px;
	padding: 15px 20px;
	background-color: #23232f;
}
.body div.article div.first{
	margin: 0 0 0 35px!important;
}
.body div.article div.section{
	height: auto;
    margin: 10px 0 10px 110px;
    _margin: 10px 0 10px 55px;
    padding: 15px 20px;
    width: 565px;
	border-radius: 5px;
}
.body div.article div.section div{
	float: left;
}
.body div.article div.section div h3{
	color: #bbbcbe;
	font-family: arial;
	font-size: 14px;
	margin: 0;
	width: 390px;
}
.body div.article div.section div h3 a{
	color: #bcbdc2;
}
.body div.article div.section div p{
	color: #878694;
    font-family: arial;
    font-size: 14px;
    line-height: 23px;
    margin: 3px 0;
    width: 390px;
	height: auto;
	padding: 0 0 18px;
}
.body div.article div.section a img{
	float: left;
	border: 1px solid #2F2F3B;
	margin: 0 15px 0 0;
}
.body div.article div.section a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body div.article div.section div.stats{
	float: none;
	line-height: 18px;
    margin: 0;
    width: auto;
    *width: 390px;
	padding: 13px 0 0;
	background: url(../images/border.gif) repeat-x left top;
	clear: both;
	overflow: hidden;
}
.body div.article div.section div.stats a.time:hover,.body div.article div.section div.stats a.twitter:hover,.body div.article div.section div.stats a.facebook:hover,.body div.article div.section div.stats a.comments:hover{
	color: #868593;
}
.body div.article div.section div.stats a.time{
	color: #444450;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
	margin: 0 30px 0 0;
	float: left;
}
.body div.article div.section div.stats span{
	color: #444450;
    font-weight: normal;
    text-shadow: none;
	margin: 0 5px 0 0;
	float: left;
	font-family: arial;
	font-size: 12px;
}
.body div.article div.section div.stats a.comments{
	color: #a6a7ab;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	background: url(../images/icons.gif) no-repeat 0 -480px;
	width: 25px;
	height: 25px;
	display: block;
	text-align: center;
	margin: 0 20px 0 0;
	float: left;
}
.body div.article div.section div.stats a.twitter{
	background: url(../images/icons.gif) no-repeat 0 -302px;
	height: 25px;
	width: auto;
	color: #444450;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 30px;
	margin: 0 20px 0 0;
}
.body div.article div.section div.stats a.facebook{
	background: url(../images/icons.gif) no-repeat 0 -165px;
	height: 25px;
	width: 18px;
	color: #444450;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 25px;
}
.body div.article div.odd div.stats a.comments{
	color: #a6a7ab;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	background: url(../images/icons.gif) no-repeat 0 -434px;
	width: 25px;
	height: 25px;
	display: block;
	text-align: center;
	margin: 0 20px 0 0;
	float: left;
}
.body div.article div.odd div.stats a.twitter{
	background: url(../images/icons.gif) no-repeat 0 -256px;
	height: 25px;
	width: auto;
	color: #444450;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 30px;
	margin: 0 20px 0 0;
}
.body div.article div.odd div.stats a.facebook{
	background: url(../images/icons.gif) no-repeat 0 -209px;
	height: 25px;
	width: auto;
	color: #444450;
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
	float: left;
	padding: 0 0 0 25px;
}
.body div.article div#more{
	background-color: #3E3E4A;
    border-radius: 5px;
    height: 24px;
    margin: 0 0 60px 112px;
    _margin: 0 0 0 56px;
	*padding: 4px 0 0;
    text-align: center;
    width: 602px;
}
.body div.article div#more a:hover{
	color: #fff;
}
.body div.article div#more a{
	font-family: arial;
	font-size: 14px;
	color: #8f8ea0;
	text-shadow: 0 1px 0 #30303a;
	text-decoration: none;
}
.body div.blog img,.body div.accessories img,.body div.tutorials img,
.body div.gallery img{
	_width: 610px;
}
.body div.about,.body div.blog,.body div.accessories,.body div.tutorials,
.body div.guide,.body div.gallery,.body div.contact{
	font-family: arial;
}
.body div.about h1,.body div.blog h1,.body div.accessories h1,.body div.tutorials h1,
.body div.guide h1,.body div.gallery h1,.body div.contact h1{
	color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 0;
}
.body div.about h3,.body div.blog h3{
	color: #bdbec2;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 0 0;
}
.body div.blog h4,.body div.accessories h4,.body div.tutorials h4,
.body div.guide h4,.body div.gallery h4{
	color: #BDBEC2;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 30px 0 10px;
}
.body div.accessories h4 a,.body div.tutorials h4 a,.body div.guide h4 a,
.body div.gallery h4 a{
	color: #BDBEC2;
	text-decoration: none;
}
.body div.about p,.body div.blog p,.body div.accessories p,.body div.tutorials p,
.body div.guide p,.body div.gallery p,.body div.contact p{
	color: #868595;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}
.body div.accessories p a,.body div.guide p a{
	color: #868595;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
	text-decoration: none;
}
.body div.guide p a,.body div.gallery p a,.body div.contact p a{
	color: #868595;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
	text-decoration: underline;
}
.body div.guide div{
	overflow: hidden;
}
.body div.guide div img{
	float: left;
}
.body div.guide div ul{
	float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 15px;
    width: 220px;
	color: #878696;
}
.body div.guide div ul li p{
	margin: 0 0 10px 0;
}
.body div.accessories p a:hover{
	text-decoration: underline;
}
.body div.tutorials ol{
	color: #878698;
	padding: 0 0 0 25px;
	*margin: 10px 0 0 5px;
}
.body div.tutorials ol li{
	margin: 0 0 30px;
}
.body div.gallery ul{
	list-style: none;
	padding: 0;
	margin: 8px 0 0;
	overflow: hidden;
	text-align: center;
}
.body div.gallery ul li.first{
	margin: 0;
}
.body div.gallery ul li{
	display: inline;
	margin: 0 0 0 9px;
}
.body div.gallery ul li a img{
	border: 0;
	width: auto;
}
.body div.gallery ul li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body div.tutorials{
	background: url(../images/bg-label.gif) no-repeat 0 40px;
	margin: 0 0 0 -109px;
    padding: 0 0 0 109px;
	position: relative;
}
.body div.tutorials div.bubble{
	margin: 0 0 0 -91px !important;
    padding: 14px 0 0 !important;
	text-transform: uppercase;
	position: absolute;
	top: 40px;
}



/*-------------------------navbar-------------------------*/

#navbar{
	position:top;

}
.navi{
	margin:0 0 0 0;
	padding: 0 0 10px 0;
	background-color: gold;
}


.navi ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: #b10d0f;
}

.navi ul img {
	height: 90px;
	float: left;
}

.navi li {
    float: left;
}

.navi li a {
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
    display: block;
    color: white;
    text-align: left;
    padding: 35px 20px 20px 20px;
    text-decoration: none;
}
.navi li div a {
	padding: 10px 20px 10px 20px;
	font-weight: 100;
    font-size: 13px;
}

.navi ul form#search{
	float: right;
	//margin-top: 25px;
	padding: 0 20px 0 0 ;
}

.navi form#search input{
	background: url(../images/interface.gif) no-repeat 0 -230px;
	border: 0;
	padding: 4px 5px 6px;
	color: #5A5A6B;
	float: left;
	width: 110px;
	margin: 0;
}
.navi form#search input#submit{
	color: #7d7d7d;
	font-family: arial;
	font-size: 14px;
	font-style: italic;
	padding: 0;
	height: 24px;
	margin: 0;
	cursor: pointer; 
	width: 55px;
	background: url(../images/interface.gif) no-repeat 0 -186px;
}
/* Change the link color to #111 (black) on hover */
//.navi li a:hover {
    background-color: #111;
}

/*----------------tabel--------------*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*---------------gris pembatas-------------*/
.line-separator{ 
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
}

.body  form1#search{
	float: left;
	margin: 0 0 20px 0;
	//padding: 35px 20px 0 20px;
}
/*-------------------pagination---------------*/
.pagination {
    display: inline-block;
    float: right;
    padding-right: 10px

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination div#featured div{
	float: left;
}

/*-----------------print page--------------*/
@media print {
	.navi h1{
		display: none;
	}
    .navi li a{
      display: none;
    }
    .navi ul form#search{
    	display: none;
    }
    .tabcontent  {
    	display:block!important;
    	margin: 50px;
    }
    .body {
    	margin: 0 50px 0 50px;
    	padding-right: 0px;
     	float: center;
     }
    .body h1{
      margin: 0px;
      padding: 0px;
     }
    .sidebar {
      display: none;
    }
    .abs-img {
      display: none;
    }
    .abs3-img {
      display: none;
    }
    .abs4-img {
      display: none;
    }
    .body div#featured div h5 {
      float: left;
    }
    .pagination {
      display: none;
    }
    .abs2-img
    {
      display: none;
    }
    button {
      display: none;
    }

}
@page {
    size:  landscape;   /* auto is the initial value */
    margin-top: 12.5mm;
    margin-bottom: 12.5mm;
    margin-right: 0mm;
    margin-left: 0mm
}

/*---------------------jam--------------------*/
.navi h1 {
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
    display: block;
    color: gold;
    text-align: right;
    padding-right: 25px;
    text-decoration: none;
}

.body form button {
    float: right;
    margin-top: 15px;
}

/*----------------tabel admin---------------*/
.body h2 {
    font-family: helvetica, arial;
    color: black;
    font-size: 18px;
    clear: both;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.body form {
    border-style: solid;
    border-width: 7px;
    color: #B40E10;
    background-color: lightgrey;
    display: table;
    margin: 50px 200px 0 200px;
    padding: 25px 30px 60px 20px;
    //border-radius: 20px;
}

.body form#satu {
    margin: 0 0 50px 0;
    width: 895px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.body form#site {
    color: black;
    font-family: arial;
    line-height: 25px;
    margin-left: 20px;
    text-align: justify;
}

.body form #site p {
    display: table-row;
    color: black;
    font-size: 15px;
}
.body form #site #detail h3 {
    color: red;
    text-align: center;
    line-height: 5px;
    font-size: 14px;
    font-family: verdana;
}
.body form #site label {
    display: table-cell;
    color: black;
    font-family: arial;
    line-height: 25px;
    padding-left: 70px;
    font-size: 14px;
}

.body form #site input, select {
    display: table-cell;
    margin-left: 70px;
}
.body form #site input#final{
    margin-left: 42%;
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-family: sans-serif;
}


.body form div#site .tabcontent {
    //width: 700px;
}

.tabcontent {
    display: none;
    //padding: 6px 12px;
    border-top: none;
    //width: 550px;
}

.body div {
    display: block;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button.active {
    background-color: #ccc;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

.body p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.body label {
    cursor: default;
}

.body form #tulis{
	color: black;
	font-family: arial;
	line-height: 50px;
	margin-left: 20px;
	text-align: justify;
}

.body form #tulis p{
	display: table-row;
}
.body form #tulis label{
	display: table-cell;
}
.body form #side label{
	display: table-cell;
}
.body form #tulis input{
	display: table-cell;
}

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 3px 10px 3px 10px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}